body{
  padding: 75px;
  display: flex;
  flex-direction: column;
  background-color: black !important;
  color: white !important;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
#board{
  
  min-width: 200px;
  min-height: 400px;
  width: 50%;
  height: 8rem;
  max-width: 500px;
  max-height: 600px;
  margin: auto;
  margin-bottom: 20px;
  flex: 2;
}
#sidebar{
    width: 4rem;
    float: right;
    flex: 1;
}
.box{
  width: 25%;
	height: 25%;
	min-width: 100px;
	min-height: 200px !important;
	filter: brightness(30%);
  margin: 20px;
  border: 1px solid white;
 
}
.box:hover{
	filter: brightness(100%);
}
.btn{
    margin: auto !important;
}
#1{
  background: blue;
  margin-right: 5px !important;
}
#2{
  background: red;
  margin-left: 5px;
}
#3{
  background-color: green;
  margin-left: 5px:
}

#4{
  background-color: yellow ;
    margin-right: 5px;
}
.row{
  margin: auto;
}
.bright{
	filter: brightness(100%) ;
    border-color: inherit;
}
